body {
  margin: 0;
  padding: 0;
  background: black;
}

canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #eee;
}

#overlay {
  position: absolute;
  color: white;
}
